@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import '~destyle.css';

html, body, #root, #root>div {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}